body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bin {
    width: 150px;
	height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    line-height: 150px;
    margin: 10px;
    display: inline-block;
}

#trash-items {
    margin-top: 20px;
}

.trash-item {
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    line-height: 100px;
}

#reset-game {
    margin-top: 20px;
}

#score-board {
    margin-top: 20px;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
}
